@import "variables";

.shop {
    display: none;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem 1.5rem 2rem;
        border-bottom: 1px solid $color-cerulan;
        background-color: $color-cerulan;
        align-items: center;
    
        &__searcher-container {
            display: flex;
           justify-content: center;
        }
    
        &__search-icon-container {
            padding: 0.5rem 0.7rem 0.5rem 0.5rem;
            border: none;
            display: flex;
            border-radius: 5px 0 0 5px;
            background-color: white;
    
            &--icon {
                cursor: pointer;
                filter: invert(26%) sepia(38%) saturate(4031%) hue-rotate(171deg) brightness(93%) contrast(104%);
            }
        }
    
        &__search-input {
            border: none;
            outline: none;
            border-radius: 0 5px 5px 0;
            width: 20rem;
        }
    
        &__nav {
            p {
                color: white;
                font-weight: 600;
                font-size: 1.3rem;
                cursor: pointer;
            }
        }
    }
    
    .main {
        display: flex;
    
        &__categories {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0.5rem;
    
            h2 {
                font-size: 1.3rem;
                font-weight: 500;
                color: $color-cerulan;
            }
    
            &__list {
                border: 1px solid $color-cerulan;
                border-radius: 5px;
                padding: 2rem 1.2rem;
                gap: 0.7rem;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                &--item {
                    cursor: pointer;
                    position: relative;
    
                    &::after {
                        content: "";
                        width: 100%;
                        border: 1px solid $color-cerulan;
                        border-bottom: none;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                    }
    
                    &:last-child:after {
                        display: none;
                    }
                }
            }
        }
    
        &__products-container {
            display: flex;
            justify-content: center;
            padding: 2rem;
            gap: 1rem;
            flex-wrap: wrap;
            width: 80%;
    
            &__product {
                padding: 1rem;
                border: 1px solid $color-cerulan;
                border-radius: 5px;
    
                img {
                    width: 10rem;
                    height: 10rem;
                    object-fit: cover;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $color-cerulan;
                }
    
                &--item {
                    color: $color-cerulan;
                    font-weight: 600;
    
                    span {
                        color: black;
                        font-weight: 400;
                    }
                }
    
                &--title {
                    text-align: center;
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: $color-cerulan;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

.hidden{
    display: none !important;
}